@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark light;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

/* Global Scrollbar Hiding */
html,
body,
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}